<section id="kata">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h1 class="mt-5"><%= "#{@kata.name}'s #{t(:examples)}" %></h1>

        <p>
          <ul>
            <% @examples.each do |example| %>
              <li><%= link_to(example.text, example.url) %></li>
            <% end %>
          </ul>
        </p>
        <p>
          <%= form_tag(external_example_path(@kata.id), method: :post) do %>
            <%= label_tag t(:text) %>
            <%= text_field_tag :text %>
            <%= label_tag t(:url) %>
            <%= text_field_tag :url %>
            <%= submit_tag t(:save) %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</section>
