<%= form_for(@kata) do |f| %>
  <p><%= f.label t(:title) %></p>
  <p><%= f.text_field :title %></p>
  <p><%= f.label t(:description) %></p>
  <p><%= f.text_area :description %></p>
  <p><%= f.submit t(:save) %></p>
<% end %>