<% if @kata.errors.any? %>
  <p>
    <%= t(:errors_finded) %>
    <ul>
      <% @kata.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </p>
<% end %>

<%= form_for(@kata) do |f| %>
  <p><%= f.label t(:title) %></p>
  <p><%= f.text_field(:title) %></p>
  <p><%= f.label t(:description) %></p>
  <p><%= f.text_area(:description) %></p>
  <p><%= t(:description_explanation) %></p>
  <p><%= f.submit t(:save) %></p>
<% end %>
