<% if admin_signed_in? %>
  <% if @belt.errors.any? %>
    <p>
      <%= t(:errors_finded) %>
      <ul>
        <% @belt.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </p>
  <% end %>

  <p>
    <%= content_tag(:h2) { t(:add_belt) } %>
    <%= form_tag(belt_path(@kata.id), method: :post) do %>
      <p><%= label_tag t(:name) %></p>
      <p><%= text_field_tag(:name, @belt.name) %></p>
      <p><%= label_tag t(:image) %></p>
      <p><%= text_field_tag(:image, @belt.image) %></p>
      <p><%= t(:image_explanation) %></p>
      <p><%= label_tag t(:description) %></p>
      <p><%= text_area_tag(:description, @belt.description) %></p>
      <p><%= t(:description_explanation) %></p>
      <p><%= submit_tag t(:add_belt) %></p>
    <% end %>
  </p>
<% end %>
