<h2>Katayuno</h2>
<p><%= t(:the_katayuno_explanation).html_safe %></p>
<h3><%= t(:the_kata) %></h3>
<p><%= t(:the_kata_explanation) %></p>
<h3><%= t(:the_tdd) %></h3>
<p><%= t(:the_tdd_explanation) %></p>
<h3><%= t(:the_pairing) %></h3>
<p><%= t(:the_pairing_explanation) %></p>
<h3><%= t(:the_language) %></h3>
<p><%= t(:the_language_explanation) %></p>
<h3>The meetup</h3>
<p><%= t(:the_meetup_explanation).html_safe %></p>
<h2>Kata-logue</h2>
<p>
  <%= t(:the_examples_explanation) %>
  <p>
    <ul>
      <%= render 'katas_links', note: @katas %>
    </lu>
  </p>
  <p>
    <%= add_kata_button %>
  </p>
</p>
