<section id="kata">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h1 class="mt-5"><%= @kata.title %></h1>
        <p>
          <p><%= @kata.description %></p>
          <p><%= link_to(t(:examples), examples_path(@kata.id)) %></p>
          <p>
            <h2><%= t(:belts) %></h2>
            <% @belts.each do |belt| %>
              <p>
                <%= image_tag(belt.image, { :size => '300x225' }) %> <%= belt.name %> <%= belt.description %> <%= edit_belt_button(belt.id) %> <%= delete_belt_button(belt.id) %>
              </p>
            <% end %>
          </p>
          <%= render 'new_belt', note: @belt %>
        </p>
        <p>
          <%= link_to(t(:back), root_path) %>
        </p>
      </div>
    </div>
  </div>
</section>

