<h2><%= @kata.title %></h2>
<p>
  <p><%= @kata.description.html_safe %></p>
  <p><%= link_to(t(:examples), examples_path(@kata.id)) %></p>
  <% if admin_signed_in? %>
    <div role="alert">
      <%= t(:belts_order_explanation) %>
    </div>
  <% end %>
  <p>
    <% @belts.each do |belt| %>
      <p>
        <table>
          <tr>
            <th rowspan="2">
              <%= image_tag(belt.image, { class: 'belt-resize-image' }) %>
            </th>
            <th>
              <%= belt.name %>
              <%= edit_belt_button(belt.id) %>
              <%= delete_belt_button(belt.id) %>
            </th>
          </tr>
          <tr>
            <td>
              <%= belt.description.html_safe %>
            </td>
          </tr>
        </table>
      </p>
    <% end %>
  </p>
  <%= render 'katas/new_belt', note: @belt %>
</p>
<p>
  <%= link_to(t(:back), root_path) %>
</p>

