<% if @example.errors.any? %>
  <p>
    <%= t(:errors_finded) %>
    <ul>
      <% @example.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </p>
<% end %>
<%= form_for(@example, url: update_example_path(@example.id)) do |f| %>
  <p><%= f.label t(:text) %></p>
  <p><%= f.text_field :text %></p>
  <p><%= f.label t(:url) %></p>
  <p><%= f.text_field :url %></p>
  <p><%= t(:url_explanation) %></p>
  <p><%= f.submit t(:edit_example) %></p>
<% end %>
<p>
  <%= link_to(t(:back), examples_path(@example.kata)) %>
</p>
