<%= form_tag(create_external_kata_path) do %>
  <p><%= label_tag t(:name) %></p>
  <p><%= text_field_tag :name %></p>
  <p><%= label_tag t(:url) %></p>
  <p><%= text_field_tag :url %></p>
  <p><%= submit_tag t(:add_external_kata) %></p>
<% end %>