<!DOCTYPE html>
<html>
  <head>
    <title>Katayuno</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'logo_katayuno.ico' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <a href="/">Katayuno</a>
    <ul>
      <li>
        <a href="/"><%= t(:home) %></a>
      </li>
      <li>
        <%= admin_users %>
      </li>
      <li>
        <a href="#"><%= logged_user %></a>
      </li>
      <li>
        <%= session_actions %>
      </li>
    </ul>
    <%= yield %>
  </body>
</html>
